<h1>
{% if page.lang == "en" %}
Bonjour-Hey Contra Dance Weekend
{% elsif page.lang == "fr" %}
Fin de semaine de contredanse Bonjour-Hey
{% endif %}
</h1>

<img class="banner-img" alt="Dancers at Bonjour-Hey 2026" src="/assets/images/BonjourHey2026.jpg">
{% if page.lang == "en" %}
<div class="center-highlight">
<p class="big">Thank you for a fantastic weekend!</p>
<p>We will return April 16-18, 2027</p>
</div>
<p><a href="/en/mailing-list">Join our Bonjour-Hey mailing list</a> to stay up-to-date.</p>
{% elsif page.lang == "fr" %}
<div class="center-highlight">
<p class="big">Merci pour cette fin de semaine fantastique !</p>
<p>On reviendra du 16 au 18 avril 2027</p>
</div>
<p><a href="/fr/liste-de-diffusion">Rejoignez notre liste de diffusion Bonjour-Hey</a> pour rester informé.</p>
{% endif %}

{% if page.lang == "en" %}
{% elsif page.lang == "fr" %}
{% endif %}

<img class="banner-img" alt="Bonjour-Hey logo" src="/assets/images/BonjourHey.png">

<div class="center-highlight no-break-spans">
<p class="big">
{% if page.lang == "en" %}
April 17–19, 2026
{% elsif page.lang == "fr" %}
17–19 avril 2026
{% endif %}
</p>
<p>Genticorum <span>(Pascal Gemme,</span> <span>Yann Falquet</span> &amp; <span>Nicholas Williams)</span></p>
<p><span>Dawn Chorus</span> <span>(Cedar Stanistreet,</span> <span>Eric McDonald</span> &amp; <span>Grace Hendrickson-Jones)</span></p>
<p><span>Bev Bernbaum</span></p>
<p><span>Luke Donforth</span></p>
<p>Centre <span>Saint-Barthélemy,</span> <span>Montreal, QC</span></p>
</div>


{% if page.lang == "en" %}
<h2>Contact</h2>
<p>Email us at <a href="mailto:bonjourhey@contramontreal.org">bonjourhey@contramontreal.org</a></p>
{% elsif page.lang == "fr" %}
<h2>Contactez-nous</h2>
<p>Envoyez-nous un courriel à <a href="mailto:bonjourhey@contramontreal.org">bonjourhey@contramontreal.org</a></p>
{% endif %}

