<h1>{{ page.title }}</h1>

{% if page.lang == "en" %}
<h2>Mission</h2>
<p>As defined in the <a href="#by-laws">By-laws of ContraMontreal</a>, our mission is to:</p>
<ul>
<li>Hold folk dances, particularly contra dances, in the Montreal area.</li>
<li>Encourage the development of contra dancers, musicians and callers.</li>
<li>Build the contra dance community in Montreal.</li>
<li>Foster connections with other contra dance communities in Canada and the United States.</li>
<li>Foster connections with other folk dance and traditional music communities in Montreal.</li>
</ul>
{% elsif page.lang == "fr" %}
<h2>Mission</h2>
<p>Tel que défini dans nos <a href="#règlements-administratifs">règlements administratifs</a>, notre mission est la suivante :</p>
<ul>
<li>Organiser des danses folkloriques, notamment des contredanses, dans la région de Montréal.</li>
<li>Encourager le développement des danseurs, des musiciens, et des câlleurs de contredanse.</li>
<li>Développer la communauté de contredanse à Montréal.</li>
<li>Créer des liens avec d'autres communautés de contredanse au Canada et aux États-Unis.</li>
<li>Créer des liens avec d'autres communautés de danse folklorique et de musique traditionnelle à Montréal.</li>
</ul>
{% endif %}

{% if page.lang == "en" %}
<h2>Code of Conduct</h2>
<p><a href="/assets/documents/Code of conduct.pdf">PDF</a></p>
<p>ContraMontreal has an official Code of Conduct for all attendees to abide by. Basically be awesome and respectful and we’ll help everyone have a good time. If you have any questions, let us know! You can always email us at <a href="mailto:info@contramontreal.org">info@contramontreal.org</a></p>
<p>ContraMontreal is dedicated to providing a safe and enjoyable dance experience for everyone. Our goal is to create a space where everyone can grow as dancers and where everyone can enjoy dancing and socializing safely. To make this happen we all need to agree to a few expectations:</p>
<ul>
<li>We aspire to offer a comfortable space for everyone, regardless of age, gender identity and expression, sexual orientation, (dis)ability, physical appearance, attire, race, religion/spirituality, or other aspects of identity. We do not tolerate harassment in any form.</li>
<li>Refrain from racist, homophobic, transphobic, ableist, sexist, or other behaviour that degrades, shames, or disrespects others for any aspect of their identity.</li>
<li>Unless otherwise noted, ContraMontreal events are alcohol-free. Please ensure that any consumption of alcohol or drugs prior to or during the event does not impair your ability to follow the Code of Conduct.</li>
<li>Be conscious of the need for consent for certain activities. Make sure you have consent before, for example, dancing with someone, dipping them, cuddling with them, making any form of intimate contact, et cetera. We encourage you to ask before offering flourishes and to do them safely.</li>
<li>Be patient and kind with beginners; we were all there once and they will improve much faster with our help!</li>
<li>We welcome dancers of all ages! Please be extra respectful of children’s consent in dance activities, such as picking them up, and make sure you only interact with children outside the dance with their parent’s consent.</li> 
<li>If you are bringing children to the dance, please make sure that they behave in a way that’s safe for them and the other dancers.</li>
<li>We dance using gender-neutral terminology; please be respectful of all dancers’ choice of dance role.</li>
<li>Do your utmost to ensure that your behaviour isn’t making someone else uncomfortable or unsafe. Be your best self.</li>
</ul>
<p>If asked to stop any behaviour, participants are expected to comply immediately. We expect participants to follow these rules throughout each of our events. Egregious violations may be met with consequences including expulsion from the event without a refund or a ban from all future events.</p>
<p>ContraMontreal encourages you to take initiative in respecting, setting, discussing, and defending boundaries. If you feel uncomfortable or unsafe confronting a situation, please talk to a committee member. We take all complaints seriously and are committed to resolving issues to the greatest extent possible.</p>
<p>In addition, please make sure to follow any venue’s Code of Conduct (Patro Villeray’s Code of Conduct is at the bottom of <a href="https://patro.ca/plaintes-au-reseau-des-patros/">this page (in French)</a>)</p> 
{% elsif page.lang == "fr" %}
<h2>Code de conduite</h2>
<p><a href="/assets/documents/Code de conduite.pdf">PDF</a></p>
<p>ContraMontréal a un code de conduite officiel que tous les participants doivent respecter. Essentiellement, soyez génial et respectueux et nous aiderons tout le monde à passer un bon moment. Si vous avez des questions, laissez-nous savoir! Vous pouvez toujours nous envoyer un courriel à <a href="mailto:info@contramontreal.org">info@contramontreal.org</a></p>
<p>ContraMontréal se consacre à fournir une expérience de danse sécuritaire et agréable pour tout le monde. Notre objectif est de créer un espace où chacun peut évoluer en tant que danseur et où tout le monde peut profiter de la danse et socialiser en toute sécurité. Pour que cela se produise, nous devons tous accepter quelques attentes:</p>
<ul>
<li>Nous aspirons à offrir un espace confortable à tous, indépendamment de l’âge, de l’identité et de l’expression sexuelles, de l’orientation sexuelle, de handicap, de l’apparence physique, de la tenue vestimentaire, de la race, de la religion ou de la spiritualité, ou d’autres aspects de l’identité. Nous ne tolérons aucune forme de harcèlement.</li>
<li>Abstenez-vous de tout comportement raciste, homophobe, transphobe, capacitiste, sexiste ou autre, qui dégrade, fait honte ou manque de respect envers autrui pour tout aspect de son identité.</li>
<li>À moins d’une annonce contraire, les événements de ContraMontreal sont sans alcool. Veuillez vous assurer que toute consommation d'alcool ou de drogues avant ou pendant l'événement ne compromet pas votre capacité à respecter le code de conduite.</li>
<li>Soyez conscient du besoin de consentement pour certaines activités. Assurez-vous d’avoir le consentement avant, par exemple, de danser avec quelqu’un, de les renverser (dip), de les câliner, de faire tout type de contact intime, et cetera. Nous vous encourageons à demander avant d’offrir des fioritures (flourishes) et de les faire sécuritairement.</li>
<li>Soyez patient et gentil avec les débutants, nous y étions tous dans le passé et ils s’amélioreront beaucoup plus vite avec notre aide!</li>
<li>Nous accueillons les danseurs de tous âges ! Merci de respecter scrupuleusement le consentement des enfants lors des activités de danse, notamment lorsque vous les soulevez, et de ne pas interagir avec eux en dehors de la danse sans l'accord de leurs parents.</li>
<li>Si vous venez avec des enfants, veuillez vous assurer qu'ils se comportent de manière à garantir leur sécurité et celle des autres danseurs.</li>
<li>Nous utilisons une terminologie non genrée ; merci de respecter le choix de rôle de chaque danseur.</li>
<li>Faites tout votre possible pour vous assurer que votre comportement ne rend pas quelqu’un d’autre inconfortable ou dangereux. Soyez le meilleur de vous-mêmes.</li>
</ul>
<p>Si on leur demande d’arrêter tout comportement, les participants doivent se conformer immédiatement. Nous nous attendons à ce que les participants suivent ces règles tout au long de chacun de nos événements. Des violations flagrantes peuvent entraîner des conséquences telles que l'expulsion de l'événement sans remboursement ou l'interdiction de participer à tous les événements futurs.</p>
<p>ContraMontréal vous encourage à prendre des initiatives pour respecter, définir, discuter et défendre les frontières. Si vous vous sentez mal à l’aise ou en danger face à une situation, veuillez vous adresser à un membre du comité. Nous prenons toutes les plaintes au sérieux et nous nous engageons à résoudre les problèmes dans toute la mesure du possible.</p>
<p>De plus, veuillez vous assurer de respecter le code de conduite de l'établissement (le code de conduite de Patro Villeray se trouve au bas de <a href="https://patro.ca/plaintes-au-reseau-des-patros/">cette page</a>).</p>
{% endif %}

{% if page.lang == "en" %}
<h2 id="by-laws">By-laws</h2>
<p><a href="/assets/documents/By-laws of ContraMontreal.pdf">PDF</a></p>
{% elsif page.lang == "fr" %}
<h2 id="règlements-administratifs">Règlements administratifs</h2>
<p><a href="/assets/documents/By-laws of ContraMontreal.pdf">PDF (en anglais)</a></p>
{% endif %}
